* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-before: 0px;
  -webkit-padding-after: 0px;
  -webkit-padding-start: 0px;
  -webkit-padding-end: 0px;
  color: white;
  letter-spacing: 1px;
  line-height: 150%;
  font-family: "Raleway", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  /* background-color: #4FA3EF; */
  background: linear-gradient( rgba(79, 163, 239, 0.7), rgba(79, 163, 239, 0.8)), url(images/grad.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

@media (max-width: 480px) {
  body {
    background-attachment: scroll;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
